<!--<form (submit)="signup( email.value, password.value, firstname,value, lastname.value)">-->
<!--<div class="signup-page">-->
    <form>
      <!--<input type="password" #password id="password">-->
      <!--<p >{{messagePassword}}</p>-->

      <input type="text" #firstName id="firstName" placeholder="FirstName">
      <!--<p>{{messageFirstName}}</p>-->

      <input type="text" #lastName id="lastname" placeholder="Lastname">
      <!--<p *ngIf="messageLastName">{{messageLastName}}</p>-->

      <input type="text" #email name="email" placeholder="Email">
      <p *ngIf="messageEmail">{{messageEmail}}</p>

       <input type="data" #birth placeholder="10.09.1993">

      <button (click)="signup(email.value, firstName.value, lastName.value, birth.value)">Submit</button>
      <p class="message">Login? <a [routerLink]="['/login']">Click here to Login</a></p>
      
      <ul>
        <li *ngFor="let user of users">
          {{user.email}} {{user.password}} {{user.firstName}} {{user.lastName}}
        </li>
      </ul>

    </form>
<!--</div>-->

<!--<form>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Signup Form
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" ngControl="username" #username>
                    </div>
                    <div *ngIf="username.touched && username.errors">

                        <div *ngIf="username.errors.underscorenotfound && !username.errors.required" class="alert alert-danger">
                            <strong>Username should have an underscore</strong>
                        </div>

                        <div *ngIf="username.errors.required" class="alert alert-danger">
                            <strong>Username is required</strong>
                        </div>
                        <div *ngIf="username.errors.usernotunique && !username.errors.required" class="alert alert-danger">
                            <strong>Username is already present</strong>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" ngControl="password" #password>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>-->