<form>
  <!--<input type="password" #password id="password">-->
  <!--<p >{{messagePassword}}</p>-->
  <input type="text" #firstName id="firstName" placeholder="FirstName">
  <!--<p>{{messageFirstName}}</p>-->
  <input type="text" #lastName id="lastname" placeholder="Lastname">
  <!--<p *ngIf="messageLastName">{{messageLastName}}</p>-->
  <input type="text" #email name="email" placeholder="Email">
  <p *ngIf="messageEmail">{{messageEmail}}</p>
  <input type="data" #birth placeholder="10.09.1993">
  <button (click)="signup(email.value, firstName.value, lastName.value, birth.value)">Submit</button>
  <p class="message">Login? <a [routerLink]="['/start/login']">Click here to Login</a></p>
  <!--<ul>
    <li *ngFor="let user of users">
      {user.email}} {{user.password}} {{user.firstName}} {{user.lastName}}
    </li>
  </ul>-->
</form>