body {
  background: #76b852; 
}
button {
  border: 0;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  outline: 0;
  padding: 15px;
  text-transform: uppercase;
  -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
  width: 100%;
  &:hover, &:active, &:focus {
    background: #43A047;
  }
}
